

<div class="container">
<div class="row">
	<div class="col">
		<h1>Espace d'inscription</h1>
		<section>
		<form novalidate [formGroup]="userForm" (ngSubmit)="onSubmit()">
			<fieldset><legend>Nouveau User:</legend>
				<div class="formGroup">
					<label>login</label>
					<input type="text"
					class="form-control"
					formControlName="username">
					</div>
				<div class="formGroup">
					<label>mdp</label>
					<input type="password"
					class="form-control"
					formControlName="username">
					</div>	
				<div class="formGroup">
					<label>nom</label>
					<input type="text"
					class="form-control"
					formControlName="prenom">
					</div>	
				<div class="formGroup">
					<label>prenom</label>
					<input type="text"
					class="form-control"
					formControlName="prenom">
					</div>
				<div class="formGroup">
					<label>adresse</label>
					<input type="text"
					class="form-control"
					formControlName="address">
					</div>
				<div class="formGroup">
					<label>email</label>
					<input type="email"
					class="form-control"
					formControlName="email">
					</div>

				<div class="formGroup">
					<label>num tel</label>
					<input type="text"
					class="form-control"
					formControlName="mdp">
					</div>
				<div class="formGroup">
					<label>date debut</label>
					<input type="text"
					class="form-control"
					formControlName="username">
					</div>	
			</fieldset>

			
			<br>
	
			<button type="submit" class="btn btn-primary" 
			[disabled]="!userForm.valid">Submit</button>
			<button type="button" class="btn btn-warning"
			(click)="redirectUserPage()">cancel</button>
			<pre>{{userForm.value| json}}</pre>
		
</form>	
</section>
</div>
</div>
</div>


