
.container {

  border-collapse: collapse;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;

}
tr{
  width: 100%;
  background: GhostWhite;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;

}
h1{
  color: blue;
    font-family: verdana;
    font-size: 150%;
}
